%table{:name => 'evolving'}
	- (0...@grid.rows).each do |row|
		%tr
			- (0...@grid.columns).each do |column|
				%td
					%div{:class => "#{panel_class(row, column)}", :id => "#{row}_#{column}"}
						%div{:class => "dead"}
						%div{:class => "alive"}
