%table{:name => 'evolving', :border => '1'}
	- (0...@grid.rows).each do |row|
		%tr
			- (0...@grid.columns).each do |column|
				%td
					%div{:id => "#{row}_#{column}", :class => "#{cell_status(row, column)}"}