%h2	Setup board with rows and columns
%form{:method => 'GET', :action => "/seed"}
	%ul
		%li
			%label{:for => "rows"} Rows:
			%input{:type => "text", :id => "rows", :name => "rows", :value => "0"}
		%li				
			%label{:for => "columns"} Columns:
			%input{:type => "text", :id => "columns", :name => "columns", :value => "0"}
	%input{:type => "submit", :value => "Create Grid"}
			