%form{:method => 'GET', :action => "/seed"}
	%fieldset	
		%legend Setup board
		%p
			%label{:for => "rows"} Rows:
			%input{:type => "text", :id => "rows", :name => "rows", :value => "0"}
		%p				
			%label{:for => "columns"} Columns:
			%input{:type => "text", :id => "columns", :name => "columns", :value => "0"}
		%p{:class => 'submit'}
			%input{:type => "submit", :value => "Create Grid"}
			