!!!
%html
	%head
		%title Conway's Game of Life
		%link{:href => '/stylesheets/reset.css', :rel => 'stylesheet', :type => 'text/css'}
		%link{:href => '/stylesheets/text.css', :rel => 'stylesheet', :type => 'text/css'}
		%link{:href => '/stylesheets/960.css', :rel => 'stylesheet', :type => 'text/css'}
		%link{:href => '/stylesheets/style.css', :rel => 'stylesheet', :type => 'text/css'}
		%script{:src => '/javascripts/jquery-1.4.2.min.js', :type => "text/javascript"}
	%body
		%div{:class => "container_16"}
			%h1	Game of Life (Ruby / WebSockets / CSS3 / jQuery)
			%div{:class => "grid_16 clearfix"}
				= yield
