!!!
%html
	%head
		%title Conway's Game of Life
		%link{:href => '/stylesheets/style.css', :rel => 'stylesheet', :type => 'text/css'}
		%script{:src => "javascripts/jquery-1.4.2.min.js", :type => "text/javascript"}
	%body
		%h1	Welcome to Game of Life
		= yield
