%h2 Click on the white squares to seed the grid with live cells
%form{:method => 'POST', :action => '/evolution'}
	%input{:name => 'rows', :type => 'hidden', :value => @rows}
	%input{:name => 'columns', :type => 'hidden', :value => @columns}
	%table{:border => '1', :name => 'seed-grid'}
		- (0...@rows).each do |row|
			%tr
				- (0...@columns).each do |column|
					%td
						%input{:name => "#{row}_#{column}", :type => 'hidden'}
						%div{:class => "click panel", :id => "#{row}_#{column}"}
							%div{:class => "front"}
							%div{:class => "back"}
	%input{:type => 'submit', :value => 'Seed Grid'}
	
%script{:type => "text/javascript",
        :src  => "javascripts/seed.js"}