%form{:method => 'POST', :action => '/evolution'}
	%input{:name => 'rows', :type => 'hidden', :value => @rows}
	%input{:name => 'columns', :type => 'hidden', :value => @columns}
	%table{:name => 'seed-grid'}
		- (0...@rows).each do |row|
			%tr
				- (0...@columns).each do |column|
					%td
						%input{:name => "#{row}_#{column}", :type => 'hidden'}
						%div{:class => "click panel", :id => "#{row}_#{column}"}
							%div{:class => "dead"}
							%div{:class => "alive"}
	%ul
		%li
			%input{:type => 'submit', :class => 'left', :value => 'Seed Grid'}
		%li
			%div{:class => 'instructions'} Click on the white squares to seed the grid with live cells
	
%script{:type => "text/javascript",
        :src  => "javascripts/seed.js"}