div {
	height: 20px; 
	width: 20px;
}

.panel {
	-webkit-perspective: 700;
}

.panel .dead {
	float: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 900;
	width: inherit;
	height: inherit;
	border: 1px solid #ccc;
	background: white;
	text-align: center;

	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;

	transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
}

.panel.flip .dead {
	z-index: 900;
	border-color: #eee;

	-webkit-transform: rotateY(180deg);
}

.panel .alive {
	float: none;
	position: absolute;
	z-index: 800;
	width: inherit;
	height: inherit;
	border: 1px solid #ccc;
	background: black;
	
	-webkit-transform: rotateY(-180deg);
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;

	transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
}

.panel.flip .alive {
	z-index: 1000;
	
	-webkit-transform: rotateY(0deg);
}
